/***********************************
            Global Css
************************************/
body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
/***********************************
            Header Css
************************************/
header{
    background: url(../images/Top-bg-1600.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
header nav{
    background-color: transparent;
    display: flex;
    min-height: 50px;
    align-items: center;
    position: fixed;
    min-width: 100%;
    z-index: 1;
}
nav i.nav-toggle{
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 1;
}
nav .nav-toggle:hover{
    cursor: pointer;
    color: #eee;
}
nav .logo h1 {
    text-indent: -9999px;
    background: url(../images/logo.png) left center no-repeat;
    margin: 0;
}
nav .menu-items{
    padding: 8.5px 0;
    text-align: right;
}
nav .nav-list ul{
    margin: 0;
}
nav .nav-list li{
    list-style: none;
    margin: 0 5px;
}
.nav-list li.active > a{
    color: #c4485f;
}
nav .nav-list li a{
    text-decoration: none;
    color: #fff;
}
nav .nav-list li a:hover{
    color: #c4485f;
    font-size: 14px;
}
nav .search input{
    background-color: transparent;
    border: 0;
    padding: 0 5px;
}
nav .search i{
    position: relative;
    left: -20px;
    color: #ccc;
}
header .Intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .Intro a{
    background-color: #8824cd;
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 30px;
}
header .Intro a:hover{
    background-color: #9648cc;
}
header .Intro h5{
    font-size: 12px;
    padding: 10px;
}

/***********************************
            About Css
************************************/
#About{
    background-color: #2e3b4e;
    min-height: 100vh;
    padding: 20px 0;
}
#About .row{
    padding: 15px 0;
}
#About h3{
    padding: 10px 0;
}
/***********************************
           How it work Css
************************************/
#How-It-Works .topsection{
    background: linear-gradient(rgba(231, 82, 107, 0.8),rgba(231, 82, 107, 0.8)), url(../images/Wicked-Bg.jpg)center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 350px;
}
#How-It-Works .topsection .row{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
}
#How-It-Works .topsection p{
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    padding: 15px 0;
}
#How-It-Works .topsection a{
    display: inline-block;
    background-color: #fff;
    color: #d54c63;
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
}
#How-It-Works .topsection a:hover{
    background-color: #d2697b;
    color: #fff;
}
#How-It-Works .bottomsection .content{
    padding: 20px 0;
}
#How-It-Works .bottomsection img{
    max-height: 350px;
}
#How-It-Works .bottomsection h3{
    color: #6f7a86;
    padding: 10px 0;
}
#How-It-Works .bottomsection p{
    color: #979fa7;
    padding: 10px 0;
}
/***********************************
           Services Css
************************************/
#Services .top{
    background: linear-gradient(rgba(70, 70, 70, 0.7),rgba(70, 70, 70, 0.7)), url(../images/Experience.jpg)center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 350px;
}

#Services .overlay{
    background-color: rgba(75,30,91,0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 20px 0;
}
#Services .overlay h3{
    padding: 10px 0;
    color: #dcd7de;
}
#Services .overlay p{
    width: 50%;
    margin: 0 auto;
    color: #dcd7de;
    padding: 10px 0;
}
#Services .overlay a{
    display: inline-block;
    background-color: #8824cd;
    color: #fff;
    padding: 10px 40px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
}
#Services .overlay a:hover{
    background-color: #9648cc;
}
#Services .overlay h5{
    font-size: 12px;
    color:  #dcd7de;
}
#Services .bottom{
    background: linear-gradient(rgba(36, 36, 36, 0.5),rgba(36, 36, 36, 0.5)), url(../images/chopstick.jpg)center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 280px;
    padding: 40px;
}
#Services .bottom h4{
    border: 1px solid #fff;
    padding: 10px 0;
    width: 150px;
    text-align: center;
    border-radius: 20px;
}
#Services .bottom p{
    font-size: 2em;
    width: 450px;
}
#Services .bottom .photographer{
    display: flex;
    align-items: center;
}
#Services .bottom img{
    margin-right: 15px;
}
/***********************************
           Contact Css
************************************/
#Contact{
    background-color: #e7526b;
    padding: 70px 0;
}
#Contact form a{
    background-color: #8824cd;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
#Contact form a:hover{
    background-color: #9341cb;
}

#Contact .email{
    color: #fff;
}
/***********************************
           Footer Css
************************************/
footer{
    background-color: #2e3b4e;
    padding-top: 10px;
    position: relative;
}

footer .socio-list{
    text-align: center;
}
footer .socio-list ul{
    margin: 0;
    padding: 0;
}
footer .socio-list li{
    list-style: none;
    margin: 10px ;
}
footer .socio-list li a{
    color: #fff;
    font-size: 1.5em;
}
footer .socio-list li:first-child a:hover{
    color: #3b5998;
}
footer .socio-list li:nth-child(2) a:hover{
    color: #00aced;
}
footer .socio-list li:nth-child(3) a:hover{
    color: #dd4b39;
}
footer .socio-list li:last-child a:hover{
    color: #ea4c89;
}
footer .copyright{
    text-align: center;
    color: #ccc;
}
footer .copyright p{
    margin: 0;
    padding-top: 10px;
}
footer .back-to-top{
    position: absolute;
    right:150px;
    top: -25px;
}
footer .back-to-top i{
    background-color: #2e3b4e;
    color: #fff;
    padding: 15px 30px 20px 30px;
    border-radius: 50%;
}
/************************************************************
                        Media Query
************************************************************/

/**********Small Desktop, Laptop and large Tables*************/
@media screen and (min-width:768px) and (max-width:991px){
    /*-----Header Section-----*/
    nav .container{
        width: 100%;
    }
    /*-----How it works Section-----*/
    #How-It-Works .topsection p{
        width: 80%;
    }
    #How-It-Works .bottomsection img{
        margin: 0 auto;
    }
    #How-It-Works .bottomsection .content{
        text-align: center;
    }
    #How-It-Works .bottomsection p{
        padding: 10px;
        width: 90%;
        margin: 0 auto;
    }
}
/**********Mini Media Query for Navbar*************/
@media screen and (min-width:768px) and (max-width:781px){
    nav .menu-items{
        text-align: left;
    }
    nav .nav-list li{
        margin: 0 4px;
    }
}

/**********Small Tables and Medium Devices*************/
@media screen and (min-width:480px) and (max-width:767px){
    /*-----Header Start Here-----*/
    header nav{
        position: relative;
    }
    nav .container{
        width: 100%;
    }
    nav .logo h1 {
        background-position:  center center;
    }
    nav .nav-toggle{
        top: 0;
        right: 0;
    }
    nav .nav-list{
        text-align: center;
        background-color: rgba(0,0,0,.7);
        padding: 15px 0;
        display: none;
    }
    nav .list-inline>li{
        display: block;
    }
    nav .nav-list li{
        padding: 15px;
        margin: 0;
    }
    nav .nav-list li:not(:last-child){
        border-bottom: 2px solid rgba(0,0,0,.1);
    }
    nav .search input{
        width: 50%;
        padding: 10px;
    }
    header .Intro{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header .Intro{
        width: 100%;
        padding: 10px;
    }
    /*-----About Start Here-----*/
    #About{
        text-align: center;
    }
    /*-----How-It-Works Start Here-----*/
    #How-It-Works .topsection p{
        width: 80%;
    }
    #How-It-Works .bottomsection{
        text-align: center;
    }
    #How-It-Works .bottomsection img{
        margin: 0 auto;
    }
    #How-It-Works .bottomsection p{
        width: 90%;
        margin: 0 auto;
        line-height: 1.5em;
        padding: 0 10px;
    }
    /*-----Services Start Here-----*/
    #Services .overlay p{
        width: 90%;
    }
    #Services .bottom p{
        font-size: 18px;
        width: 300px;
    }
    #Services .bottom .photographer{
        display: flex;
        align-items: center;
    }
    #Services .bottom img{
        margin-right: 15px;
    }
}

/**********Small Devices*************/
@media screen and (min-width:320px) and (max-width:479px){
    /*-----Header Start Here-----*/
    header nav{
        position: relative;
    }
    nav .container{
        width: 100%;
    }
    nav .logo h1 {
        background-position:  center center;
    }
    nav .nav-list{
        text-align: center;
        background-color: rgba(0,0,0,.7);
        padding: 15px 0;
        display: none;
    }
    nav .list-inline>li{
        display: block;
    }
    nav .nav-list li{
        padding: 15px;
        margin: 0;
    }
    nav .nav-list li:not(:last-child){
        border-bottom: 2px solid rgba(0,0,0,.1);
    }
    nav .search input{
        width: 50%;
        padding: 10px;
    }
    header .Intro{
        width: 100%;
        padding: 10px;
    }
    header .Intro h1{
        font-size: 2em;
    }
    /*-----About Start Here-----*/
    #About{
        text-align: center;
    }
    /*-----How-It-Works Start Here-----*/
    #How-It-Works .topsection h3{
        font-size: 1.6em;
    }
    #How-It-Works .topsection p{
        width: 90%;
        font-size: 0.9em;
    }
    #How-It-Works .bottomsection{
        text-align: center;
    }
    #How-It-Works .bottomsection img{
        margin: 0 auto;
    }
    #How-It-Works .bottomsection h3{
        font-size: 1.4em;
    }
    #How-It-Works .bottomsection p{
        width: 90%;
        margin: 0 auto;
        line-height: 1.8em;
        padding: 0 10px;
        font-size: 1em;
    }
    /*-----Services Start Here-----*/
    #Services .overlay p{
        width: 90%;
    }
    #Services .bottom p{
        font-size: 1.5em;
        width: 100%;
    }
    /*-----Contact Start Here-----*/
    #Contact p{
        width: 90%;
    }
}
/*Devices like old iphones*/
@media screen and (min-width:320px) and (max-width:370px){
    /*-----Header Start Here-----*/
    header .Intro h1{
        font-size: 1.8em;
    }
    /*-----About Start Here-----*/
    #About h3{
        font-size: 1.5em;
    }
    /*-----How-It-Works Start Here-----*/
    #How-It-Works .topsection h3{
        font-size: 1.5em;
    }
    #How-It-Works .topsection p{
        width: 100%;
    }
    #How-It-Works .bottomsection h3{
        font-size: 1.2em;
    }
    /*-----Services Start Here-----*/
    #Services .overlay{
        padding-top: 5px;
    }
    #Services .overlay h3{
        font-size: 1.5em;
        margin-bottom: 0;
    }
    #Services .overlay p{
        width: 100%;
    }
    #Services .bottom p{
        font-size: 1.1em;
        width: 100%;
    }
    /*-----Contact Start Here-----*/
    #Contact p{
        width: 90%;
    }
}

/*----------------Mini Media Query--------------------*/

@media screen and (min-width:992px) and (max-width:1028px){
    #Services .bottom .container{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:808px){
    #Services .bottom .container{
        width: 100%;
    }
}
